//fonts
@font-face{
  font-family: 'e-UkraineHead';
  src: url('/app/fonts/e-UkraineHead-Regular.woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face{
  font-family: 'e-UkraineHead';
  src: url('/app/fonts/e-UkraineHead-Medium.woff2');
  font-weight: 500;
  font-display: swap;
}
@font-face{
  font-family: 'e-UkraineHead';
  src: url('/app/fonts/e-UkraineHead-Bold.woff2');
  font-weight: 600;
  font-display: swap;
}







