
//fonts
$primary-font: 'e-UkraineHead', sans-serif;

//colors
$black: #101010;
$blue: #2969F6;
$yelow: #E0FC52;
$white: #FFFF;

///
$border-radius-default: 50px;
$container-padding: 16px;
$container-width: calc(1280px + 2 * #{$container-padding});